$primary-text-color: #212121;
$title-text-color: #757575;
$accent-text-color: #2196F3;
$fon-text-color: #FFFFFF;
$fon-text-color-rgba: #FFFFFF99;
$bg-color: #2F303A;
$current-color: rgba(175, 177, 184, 1);